.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Ab-Banner {
  background: #3f4a5b;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .Ab-Banner span {
    color: white;
    font-size: 40pt; }
  .Ab-Banner i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white; }

.segment i {
  float: right; }

.segment a {
  color: #000; }

.container .buttons {
  float: right; }
